.msgDelete {
  margin: 5% auto;
  width: 100%;
  padding: 3%;
  font-size: medium;
  font-weight: 600;
}

.cus-row {
  border-bottom: 0.1px solid #d3d2d5;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
}

ion-item {
  color: #fff;
  --color: #fff;
}

ion-button {
  text-transform: none;
}
