<ion-content class="tribationBackground slideInleft">
  <ion-item
    lines="none"
    class="noBackgroundItem paddingSafe"
    style="margin-top: 3%; margin-bottom: 10%"
  >
    <ion-icon
      slot="start"
      name="arrow-back"
      class="white fnt-18"
      style="margin: 0px"
      (click)="back()"
    ></ion-icon>
    <ion-title
      mode="md"
      class="ion-align-self-center"
      style="text-align: center"
      >{{changePasswordString}}</ion-title
    >
  </ion-item>
  <div class="fullWidthDisplayCenter custom-algn-center">
    <ion-avatar style="width: 80px; height: 80px">
      <img
        *ngIf="this.profileImageURL!=null"
        src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{this.profileImageURL}}"
      />
      <img
        *ngIf="this.profileImageURL==null"
        src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/default.png"
      />
    </ion-avatar>
  </div>
  <h4 class="white ion-text-center" style="margin: 0px">
    {{profileFirstname}} {{profileLastName}}
  </h4>
  <small class="white custom-algn-center ion-text-center">
    [ {{profileEmailId}} ]
  </small>
  <small class="white custom-algn-center ion-text-center">
    <ion-icon name="location"></ion-icon>&nbsp;
    <span style="text-transform: capitalize">{{profileCity}}</span>
  </small>
  <!--=========== Header Ends ============-->

  <form [formGroup]="changePass">
    <div style="width: 90%; margin: auto; margin-top: 10%" class="white">
      <!-- Password Field -->
      <ion-row class="cus-row">
        <ion-col size="2" class="ion-text-center">
          <ion-icon class="white fnt-18 i_log" name="lock-closed"></ion-icon>
        </ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-item lines="none" class="noBackgroundItem white">
            <ion-label class="mrg-0" position="floating"
              >{{currentPasswordString}}</ion-label
            >
            <ion-input
              type="password"
              [(ngModel)]="currentPassword"
              formControlName="currentPasswordControl"
            >
            </ion-input>
            <ion-row
              lines="none"
              *ngIf="(changePass.get('currentPasswordControl').hasError('trimError') ) && changePass.get('currentPasswordControl').touched"
            >
              <div
                class="error"
                *ngIf="(changePass.get('currentPasswordControl').hasError('trimError') ) && changePass.get('currentPasswordControl').touched"
              >
                <ion-icon name="alert-circle"></ion-icon> {{ noSpaceErrorString
                }}
              </div>
            </ion-row>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--Confirm Password Field -->
      <ion-row class="cus-row">
        <ion-col size="2" class="ion-text-center">
          <ion-icon class="white fnt-18 i_log" name="lock-closed"></ion-icon>
        </ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-item lines="none" class="noBackgroundItem white">
            <ion-label class="mrg-0" position="floating"
              >{{newPasswordString}}</ion-label
            >
            <ion-input
              type="password"
              [(ngModel)]="newPassword"
              formControlName="newPasswordControl"
              onKeyDown="if(event.keyCode === 32) return false;"
            >
            </ion-input>

            <ion-row
              lines="none"
              *ngIf="(changePass.get('newPasswordControl').hasError('trimError') )  && changePass.get('newPasswordControl').touched"
            >
              <div
                class="error"
                *ngIf="(changePass.get('newPasswordControl').hasError('trimError') )  && changePass.get('newPasswordControl').touched"
              >
                <ion-icon name="alert-circle"></ion-icon> {{ noSpaceErrorString
                }}
              </div>
            </ion-row>
            <ion-row
              lines="none"
              *ngIf="(changePass.get('newPasswordControl').hasError('minlength') )  && changePass.get('newPasswordControl').touched"
            >
              <div
                class="error"
                *ngIf="(changePass.get('newPasswordControl').hasError('minlength') )  && changePass.get('newPasswordControl').touched"
              >
                <ion-icon name="alert-circle"></ion-icon> {{
                minLengthErrorString }}
              </div>
            </ion-row>
            <ion-row
              lines="none"
              *ngIf="(changePass.get('newPasswordControl').hasError('maxlength') )  && changePass.get('newPasswordControl').touched"
            >
              <div
                class="error"
                *ngIf="(changePass.get('newPasswordControl').hasError('maxlength') )  && changePass.get('newPasswordControl').touched"
              >
                <ion-icon name="alert-circle"></ion-icon> {{
                maxLengthErrorString }}
              </div>
            </ion-row>
            <ion-row
              lines="none"
              *ngIf="(changePass.get('newPasswordControl').hasError('pattern') )  && changePass.get('newPasswordControl').touched"
            >
              <div
                class="error"
                *ngIf="(changePass.get('newPasswordControl').hasError('pattern') )  && changePass.get('newPasswordControl').touched"
              >
                <ion-icon name="alert-circle"></ion-icon> {{
                PatternDoesNotMatchString }}
              </div>
            </ion-row>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--Confirm Password Field -->
      <ion-row class="cus-row">
        <ion-col size="2" class="ion-text-center">
          <ion-icon class="white fnt-18 i_log" name="lock-closed"></ion-icon>
        </ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-item lines="none" class="noBackgroundItem white">
            <ion-label class="mrg-0" position="floating"
              >{{confirmPasswordString}}</ion-label
            >
            <ion-input
              type="password"
              [(ngModel)]="confirmPassword"
              formControlName="confirmPasswordControl"
              onKeyDown="if(event.keyCode === 32) return false;"
            >
            </ion-input>
            <ion-row
              lines="none"
              *ngIf="(changePass.get('confirmPasswordControl').hasError('trimError') )  && changePass.get('confirmPasswordControl').touched"
            >
              <div
                class="error"
                *ngIf="(changePass.get('confirmPasswordControl').hasError('trimError') )  && changePass.get('confirmPasswordControl').touched"
              >
                <ion-icon name="alert-circle"></ion-icon> {{ noSpaceErrorString
                }}
              </div>
            </ion-row>
            <ion-row
              lines="none"
              *ngIf="(changePass.get('confirmPasswordControl').hasError('equalTo') )  && changePass.get('confirmPasswordControl').touched"
            >
              <div
                class="error"
                *ngIf="(changePass.get('confirmPasswordControl').hasError('equalTo') )  && changePass.get('confirmPasswordControl').touched"
              >
                <ion-icon name="alert-circle"></ion-icon> {{
                passwordDoesNotMatchString }}
              </div>
            </ion-row>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- UPDATE BUTTON-->
      <div class="update-button">
        <ion-button
          class="tribationBtn ion-text-wrap"
          [disabled]="changePass.invalid"
          expand="block"
          (click)="updatePassword()"
          >{{updateSting}}</ion-button
        >
      </div>
    </div>
  </form>
</ion-content>
