.cus-row {
  border-bottom: 0.1px solid #d3d2d5;
  -webkit-box-align: center;
  align-items: center;
  min-height: 80px;
}

.update-button {
  padding-top: 32px;
}

ion-label,
ion-input,
ion-item {
  --color: #fff !important;
  color: #fff !important;
  --color-activated: #fff !important;
  --highlight-color-focused: #fff !important;
  --highlight-color-valid: #fff !important;
  --color-focused: #fff !important;
  --color-hover: #fff !important;
  --ripple-color: #fff !important;
}

.tribationBtn {
  --border-radius: 20px;
  height: 50px !important;
}
.error {
  color: #f00;
  --color: #f00;
}
