.tribationBtn {
  width: 95% !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  height: 50px !important;
  --border-radius: 24px !important;
  font-size: 18px !important;
}

.cus-row {
  border-bottom: 0.1px solid #d3d2d5;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
}

ion-item {
  color: #fff;
  --color: #fff;
}
