<ion-content class="tribationBackground">
  <div class="pageContent">
    <div
      class="imgHolder"
      style="
        margin-top: 15%;
        object-fit: cover;
        max-width: 100%;
        opacity: 0.2;
        position: absolute;
      "
    >
      <img src="../../../assets/antenna38815.png" style="max-width: 100%" />
    </div>
    <div class="text">{{noInterNetString}}</div>
    <div class="imgHolder logo">
      <img
        src="../../../assets/logo2.png"
        alt="Tribation"
        style="width: 150px; max-height: 48px"
      />
    </div>
  </div>
</ion-content>
