.skipButton {
  position: absolute;
  bottom: 6%;
  width: 100%;
  z-index: 6666;
}

.content {
  font-size: smaller;
  width: 95%;
  margin: auto;
}
.getStartedButton {
  position: absolute;
  bottom: 7%;
  width: 100%;
  z-index: 6666;
  right: -18%;
}

.slideImg {
  img {
    height: 80%;
  }
}
